<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Find course by Id</title>
</head>
<body>
	<h1>Find course by Id <span th:text="${person.firstName}"/>!</h1>  
	
    <h1>Find course by Id !</h1>
    <form action="#" th:action="@{/findcoursebyid}" th:object="${submitcoursebyid}" method="post">
			<tr>
				<td>Course Id ?</td>
				<td><input type="text" th:field="*{searchedCourseId}"/></td>
			</tr>
			<span style="margin-left: 200px"><input type="submit" th:value="Search"/></span>
	</form>	
</body>
</html>