<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search all course</title>
</head>
<body>
    <h1>Search all course<span th:text="${person.firstName}"/>!</h1>  
	<table class="Course table">
	<thead class = "thead-light">
        <tr>
            <th class="text-left">Id</th>
            <th class="text-left">Long Title</th>
            <th class="text-left">Short Title</th>
            <th class="text-left"># days</th>
            <th class="text-left">Price/day</th>
            <th class="text-left"></th>
        </tr>
    </thead>
	<tbody>
		<tr th:each="courselist : ${courselist}">
            <td th:text="${courselist.courseId}"></td>
            <td th:text="${courselist.longTitle"></td>
            <td th:text="${courselist.shortTitle}"></td>
            <td th:text="${courselist.numberOfDays}"></td>
            <td th:text="${courselist.pricePerDay}"></td>
		
		</tr>
	</tbody>
	</table>>
	<form action="#" th:action="@{/coursesearch}" method="get">
		<span style="margin-left: 200px"><input type="submit" th:value="back"/></span>
	</form>	
</body>
</html>