<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Show course by Id</title>
</head>
<body>
    <h1>Show course by Id !</h1>
  		<table>
		<thead class = "thead-light">
        <tr>
            <th class="text-left">Id</th>
            <th class="text-left">Long Title</th>
            <th class="text-left">Short Title</th>
            <th class="text-left"># days</th>
            <th class="text-left">Price/day</th>
            <th class="text-left"></th>
        </tr>
        </thead>
    	<Tr>
            <td th:text="${course.courseId}"></td>
            <td th:text="${course.longTitle}"></td>
            <td th:text="${course.shortTitle}"></td>
            <td th:text="${course.numberOfDays}"></td>
            <td th:text="${course.pricePerDay}"></td>
		</tr>
		</table>
	<form action="#" th:action="@{/backToCourseSearch}" method="get">
		<span style="margin-left: 200px"><input type="submit" th:value="back"/></span>
	</form>	
</body>
</html>